<div id="summary">
  <h3>{{ exception_type }}: {{ exception_value|escape }}</h3>
  <table class="meta">
    <tr>
      <th>Exception Value:</th>
      <td><pre>{{ exception_value|escape }}</pre></td>
    </tr>
    {% if lastframe %}
    <tr>
      <th>Exception Location:</th>
      <td>{{ lastframe.filename|escape }} in {{ lastframe.function|escape }}, line {{ lastframe.lineno }}</td>
    </tr>
    {% endif %}
  </table>
</div>
{% if template_info %}
    <div id="template">
        <h2>Template error</h2>
        <p>In template <code>{{ template_info.name }}</code>, error at line <strong>{{ template_info.line }}</strong></p>
        <h3>{{ template_info.message }}</h3>
        <ol>
        {% for source_line in template_info.source_lines %}
            <li class="{% if source_line.0 == template_info.line %} selected{% endif %}" value="{{ source_line.0 }}">
            {% if source_line.0 == template_info.line %}
                <pre>{{ template_info.before }}<span class="specific">{{ template_info.during }}</span>{{ template_info.after }}</pre>
            {% else %}
                <pre>{{ source_line.1 }}</pre>
            {% endif %}
        {% endfor %}
        </table>
    </div>
{% endif %}
