{% load sentry_helpers %}
<!DOCTYPE html> 
<html lang="en">
    <head> 
        <meta http-equiv="content-type" content="text/html; charset=utf-8"> 
        <meta name="robots" content="NONE,NOARCHIVE">
        <link href='http{% if request.is_secure %}s{% endif %}://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:light,regular&amp;subset=latin' rel='stylesheet' type='text/css'>
        <link rel="shortcut icon" href="{% url sentry-media "images/sentry.png" %}"/>
        <title>{% block title %}Sentry{% endblock %}</title> 
        <script type="text/javascript">
        SENTRY_JS_API_URL = '{% url sentry-ajax %}';
        </script>
        <script type="text/javascript" src="http{% if request.is_secure %}s{% endif %}://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        <script type="text/javascript" src="{% url sentry-media "scripts/highcharts.js" %}" ></script>
        <script type="text/javascript" src="{% url sentry-media "scripts/jquery.animate-colors-min.js" %}"></script>
        <script type="text/javascript" src="{% url sentry-media "scripts/global.js" %}"></script>
        <style type="text/css">@import '{% url sentry-media "styles/global.css" %}';</style>
    </head> 
    
    <body> 
        {% block body %}
        <div id="header"> 
            <div class="container">
                <h1><a href="{% url sentry:index %}"><img src="{% url sentry-media "images/sentry.png" %}" border="0" width="32"/>Sentry</a></h1>
                <h2>{% block heading %}Dashboard{% endblock %}</h2>
                <ul class="nav" id="account">
                    {% if request.user.is_authenticated %}
                        <li><a href="{% url sentry-logout %}">Logout</a>
                    {% endif %}
                </ul>
            </div>
        </div> 
        <div id="content">
            {% block content_before %}
            {% endblock %}
            <div class="container">
                {% block content %}
                {% endblock %}
            </div>
         </div>
        <div id="footer">
            <div class="container">
                Sentry {% sentry_version %} | Powered by sexy Django magic | Conjured up by the <a href="http://code.disqus.com">DISQUS</a> team and other noble <a href="https://github.com/dcramer/django-sentry/contributors">sorcerers</a>.
            </div>
        </div> 
        {% endblock %}
    </body>
    {% if has_realtime %}
    <script type="text/javascript">
    sentryRealtime = true;
    $(document).ready(function(){
        //$("div.column").setAllToMaxHeight();
        setTimeout(sentryRefresh, 3000);
    });
    </script>
    {% endif %}
</html>
