{% extends "sentry/layout.html" %}

{% block heading %}{{ gettext('Dashboard') }}{% endblock %}

{% block content %}
    <div id="body">
        <div class="portlet">
            <div class="portlet-title">Errors</div>
            <div class="portlet-content">
                <img src="http://cl.ly/2T3i2H3A1b473k0H1i3e/by_default_2011-05-16_at_6.34.08_PM.png" />
                <ul class="events events-small" id="event_list">
                    <li class="level- priority-verylow" id="group_48d03e010bf241f2b9b4fda4ccc68180" data-sentry-count="">
                        <span class="count count-digits-0">1</span>
                        <h3><a href="/group/48d03e010bf241f2b9b4fda4ccc68180">TypeError: login() takes exactly 1 argument (0 given)</a></h3>
                        <a href="/group/48d03e010bf241f2b9b4fda4ccc68180" class="row_link"></a>
                    </li>
                    <li class="level- priority-verylow" id="group_48d03e010bf241f2b9b4fda4ccc68180" data-sentry-count="">
                        <span class="count count-digits-0">1</span>
                        <h3><a href="/group/48d03e010bf241f2b9b4fda4ccc68180">TypeError: login() takes exactly 1 argument (0 given)</a></h3>
                        <a href="/group/48d03e010bf241f2b9b4fda4ccc68180" class="row_link"></a>
                    </li>
                    <li class="level- priority-verylow" id="group_48d03e010bf241f2b9b4fda4ccc68180" data-sentry-count="">
                        <span class="count count-digits-0">1</span>
                        <h3><a href="/group/48d03e010bf241f2b9b4fda4ccc68180">TypeError: login() takes exactly 1 argument (0 given)</a></h3>
                        <a href="/group/48d03e010bf241f2b9b4fda4ccc68180" class="row_link"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="portlet">
            <div class="portlet-title">Errors</div>
            <div class="portlet-content">
                <img src="http://cl.ly/2T3i2H3A1b473k0H1i3e/by_default_2011-05-16_at_6.34.08_PM.png" />
                <ul class="events events-small" id="event_list">
                    <li class="level- priority-verylow" id="group_48d03e010bf241f2b9b4fda4ccc68180" data-sentry-count="">
                        <span class="count count-digits-0">1</span>
                        <h3><a href="/group/48d03e010bf241f2b9b4fda4ccc68180">TypeError: login() takes exactly 1 argument (0 given)</a></h3>
                        <a href="/group/48d03e010bf241f2b9b4fda4ccc68180" class="row_link"></a>
                    </li>
                    <li class="level- priority-verylow" id="group_48d03e010bf241f2b9b4fda4ccc68180" data-sentry-count="">
                        <span class="count count-digits-0">1</span>
                        <h3><a href="/group/48d03e010bf241f2b9b4fda4ccc68180">TypeError: login() takes exactly 1 argument (0 given)</a></h3>
                        <a href="/group/48d03e010bf241f2b9b4fda4ccc68180" class="row_link"></a>
                    </li>
                    <li class="level- priority-verylow" id="group_48d03e010bf241f2b9b4fda4ccc68180" data-sentry-count="">
                        <span class="count count-digits-0">1</span>
                        <h3><a href="/group/48d03e010bf241f2b9b4fda4ccc68180">TypeError: login() takes exactly 1 argument (0 given)</a></h3>
                        <a href="/group/48d03e010bf241f2b9b4fda4ccc68180" class="row_link"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="portlet">
            <div class="portlet-title">Errors</div>
            <div class="portlet-content">
                <img src="http://cl.ly/2T3i2H3A1b473k0H1i3e/by_default_2011-05-16_at_6.34.08_PM.png" />
                <ul class="events events-small" id="event_list">
                    <li class="level- priority-verylow" id="group_48d03e010bf241f2b9b4fda4ccc68180" data-sentry-count="">
                        <span class="count count-digits-0">1</span>
                        <h3><a href="/group/48d03e010bf241f2b9b4fda4ccc68180">TypeError: login() takes exactly 1 argument (0 given)</a></h3>
                        <a href="/group/48d03e010bf241f2b9b4fda4ccc68180" class="row_link"></a>
                    </li>
                    <li class="level- priority-verylow" id="group_48d03e010bf241f2b9b4fda4ccc68180" data-sentry-count="">
                        <span class="count count-digits-0">1</span>
                        <h3><a href="/group/48d03e010bf241f2b9b4fda4ccc68180">TypeError: login() takes exactly 1 argument (0 given)</a></h3>
                        <a href="/group/48d03e010bf241f2b9b4fda4ccc68180" class="row_link"></a>
                    </li>
                    <li class="level- priority-verylow" id="group_48d03e010bf241f2b9b4fda4ccc68180" data-sentry-count="">
                        <span class="count count-digits-0">1</span>
                        <h3><a href="/group/48d03e010bf241f2b9b4fda4ccc68180">TypeError: login() takes exactly 1 argument (0 given)</a></h3>
                        <a href="/group/48d03e010bf241f2b9b4fda4ccc68180" class="row_link"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="portlet">
            <div class="portlet-title">Errors</div>
            <div class="portlet-content">
                <img src="http://cl.ly/2T3i2H3A1b473k0H1i3e/by_default_2011-05-16_at_6.34.08_PM.png" />
                <ul class="events events-small" id="event_list">
                    <li class="level- priority-verylow" id="group_48d03e010bf241f2b9b4fda4ccc68180" data-sentry-count="">
                        <span class="count count-digits-0">1</span>
                        <h3><a href="/group/48d03e010bf241f2b9b4fda4ccc68180">TypeError: login() takes exactly 1 argument (0 given)</a></h3>
                        <a href="/group/48d03e010bf241f2b9b4fda4ccc68180" class="row_link"></a>
                    </li>
                    <li class="level- priority-verylow" id="group_48d03e010bf241f2b9b4fda4ccc68180" data-sentry-count="">
                        <span class="count count-digits-0">1</span>
                        <h3><a href="/group/48d03e010bf241f2b9b4fda4ccc68180">TypeError: login() takes exactly 1 argument (0 given)</a></h3>
                        <a href="/group/48d03e010bf241f2b9b4fda4ccc68180" class="row_link"></a>
                    </li>
                    <li class="level- priority-verylow" id="group_48d03e010bf241f2b9b4fda4ccc68180" data-sentry-count="">
                        <span class="count count-digits-0">1</span>
                        <h3><a href="/group/48d03e010bf241f2b9b4fda4ccc68180">TypeError: login() takes exactly 1 argument (0 given)</a></h3>
                        <a href="/group/48d03e010bf241f2b9b4fda4ccc68180" class="row_link"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
