{% extends "sentry/group/details.html" %}

{% block title %}{{ group.error }} | {{ super() }}{% endblock %}

{% block inner %}
    <ul class="events" id="event_list">
        <li class="level-{{ event.level }}{% if priority %} priority-{{ priority }}{% endif %}" id="message_{{ event.pk }}" data-sentry-count="{{ event.times_seen }}">
            <h3>{{ event }}</h3>
            <span class="last_seen">{{ event.date|timesince }}</span>
            <span class="status status-{{ event.status }}">{{ event.get_status_display }}</span>
            <p class="message">
                {% for k, v in event.tags %}
                    <span class="tag tag-{{ k }}">{{ v }}</span>
                {% endfor %}
            </p>
        </li>
    </ul>

    {{ event_html }}

    <div id="requestinfo">
        <h2>{{ gettext('More Information') }}</h2>

        <table>
            {% for k, v in json_data %}
                <tr>
                    <th class="key">{{ k }}</th>
                    <td class="values">
                    {% if v %}
                        {% if v|is_dict %}
                            <table class="vars">
                                <thead>
                                    <tr>
                                        <th>{{ gettext('Variable') }}</th>
                                        <th>{{ gettext('Value') }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for k_, v_ in v.iteritems|as_sorted %}
                                    <tr>
                                        <td>{{ k_ }}</td>
                                        <td class="code"><pre>{{ v_|pprint }}</pre></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            {{ v|pprint }}
                        {% endif %}
                    {% else %}
                        <p>{{ gettext('No data for %(varname)s', varname=k) }}</p>
                    {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}